<!--
    Этот лаяут для страниц с темной шапкой и без футера
-->
@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Mr. Simon Academy</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../Content/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../Content/css/small-business.css" rel="stylesheet">

    <!-- my styles -->
    <link href="../../Content/css/style.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>


</head>

<body>

    <header>
        <nav class="navbar navbar-dark navbar-custom">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Mr. Simon Academy", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("Главная", "Index", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("О нас", "About", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Услуги", "Services", "Home")

                        </li>
                        <li>
                            @Html.ActionLink("Контакты", "Contact", "Home")
                        </li>
                        @if (Request.IsAuthenticated)
                        {
                            <li>
                                <a href="/Manage/Index">Личный кабинет</a>
                            </li>
                            <li>

                                @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
                                }

                            </li>
                        }

                        else
                        {

                            <li>
                                @Html.ActionLink("Войти", "Login", "Account")
                            </li>
                        }

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </header>



    <!-- Main Content -->
    <main>
        @RenderBody()
    </main>
    <hr />
    <!-- Footer -->


    @Scripts.Render("~/content/js/jquery.min.js")
    @Scripts.Render("~/content/js/bootstrap.min.js")
    @Scripts.Render("~/content/js/small-business.js")

    @RenderSection("scripts", required: false)
</body>
</html>
